@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}
header{
    font-family: "Roboto";
}
a:hover{
    text-decoration: none !important;
}
.w-87{
    width: 87%;
}
.header{
    background-color:#000000 ;
}
.header .sub-header .box-logo{
    width: 20%;
}
.header .sub-header .logo{
    max-width: 130px;
}
.header .sub-header{
    padding: 12px 0;
}
.header .sub-header .contact-header{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    width: 45%;
}
.header .sub-header .contact-header .phone{
    width: 25%;
}
.header .sub-header .contact-header .phone img{
    width: 20px;
}
.header .sub-header .contact-header .facebook{
    width: 25%;
}
.header .sub-header .contact-header .facebook img{
    width: 23px;
    margin-top: -2px;
}
.header .sub-header .sign-in .introduct img{
    width: 24px;
    margin-top: -2px;
}
.header .sub-header .contact-header .email{
    width: 40%;
}
.header .sub-header .contact-header .email img{
    width: 25px
}
.header .sub-header .sign-in{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    width: 35%;
}
.header .sub-header .sign-in .introduct{
    width:40%
}
.header .sub-header .sign-in .login{
    /*margin-right: 43px;*/
    width: 30%
}
.header .sub-header .sign-in .register{
    /*border: 2px solid #FFFFFF;*/
    /*box-sizing: border-box;*/
    width:30%
}
.header .sub-header .sign-in .register a{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding: 12px 22px;
}

.banner {
    background-image: url("/img/web/home/banner.png");
    background-size:cover;
    height: 100%;
}
.banner .box-banner{
    width: 68%;
    margin: auto;
    padding-bottom: 130px;
}
.banner .box-banner .title {
    padding: 50px 0 25px 0;
}

.banner .form-hana .left{
    width: 30%;
    /*margin: auto;*/
    /*text-align: center;*/
}
.banner .form-hana .left .active{
    background-color: rgba(0, 0, 0, 0.4);
    border-right: 3px solid #fff;
}
.banner .form-hana .right{
    width: 70%;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .form-hana{
    background-color: rgba(0, 0, 0, 0.4);
}
.banner .form-hana .box-form{
    padding: 31px;
}
.banner .form-hana .box-form .ct_form_hana{
    width: 92%;
    margin: auto;
}
.banner .form-hana .box-form .ct_form_hana .boxcar{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background: #fff;
    margin: 40px auto;
}
.banner .form-hana .box-form .ct_form_hana .car h5{
   font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    font-family: "Roboto";
    margin-top: -20px;
}
.banner .form-hana .box-form .ct_form_hana .box1 img{
   margin-top: 27px;
}
.banner .form-hana .box-form .ct_form_hana .box2 img{
    margin-top: -6px;
}
.banner .box-banner .title h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #f28f01;
    text-shadow: rgb(255, 255, 255) 3px 0px 0px,
    rgb(255, 255, 255) 2.83487px 0.981584px 0px,
    rgb(255, 255, 255) 2.35766px 1.85511px 0px,
    rgb(255, 255, 255) 1.62091px 2.52441px 0px,
    rgb(255, 255, 255) 0.705713px 2.91581px 0px,
    rgb(255, 255, 255) -0.287171px 2.98622px 0px,
    rgb(255, 255, 255) -1.24844px 2.72789px 0px,
    rgb(255, 255, 255) -2.07227px 2.16926px 0px,
    rgb(255, 255, 255) -2.66798px 1.37182px 0px,
    rgb(255, 255, 255) -2.96998px 0.42336px 0px,
    rgb(255, 255, 255) -2.94502px -0.571704px 0px,
    rgb(255, 255, 255) -2.59586px -1.50383px 0px,
    rgb(255, 255, 255) -1.96093px -2.27041px 0px,
    rgb(255, 255, 255) -1.11013px -2.78704px 0px,
    rgb(255, 255, 255) -0.137119px -2.99686px 0px,
    rgb(255, 255, 255) 0.850987px -2.87677px 0px,
    rgb(255, 255, 255) 1.74541px -2.43999px 0px,
    rgb(255, 255, 255) 2.44769px -1.73459px 0px,
    rgb(255, 255, 255) 2.88051px -0.838247px 0px;
}
.banner .form-hana .right .form{
    padding-left: 30px;
    padding-top: 34px;
    padding-right: 30px;
}
.banner .form-hana .right .form .fa-map-marker{
    font-size:28px !important;
    color:#E5C300 !important;
    margin-top: -7px;
}
.banner .form-hana .right .form .name_search{
    font-size: 14px;
    font-family: "Roboto";
    font-weight: bold;
    line-height: 16px;
    color: #E5C300;
    margin-bottom: 8px !important;
}
.banner .form-hana .right .form select.province{
    width: 125px !important;
}
.banner .form-hana .right .form select.distinct{
    width: 145px !important;
}
.banner .form-hana .right .form select.town{
    width: 130px !important;
    margin-left: 20px;
}
.banner .form-hana .right .form select.date_to{
    width: 140px !important;
}
.banner .form-hana .right .form select.hour_to{
    width: 100px !important;
    margin-left: 20px;
}
.banner .form-hana .right .form select{
  background: rgba(0, 0, 0, 0) !important;
    color: white !important;
    border-radius: unset !important;
    border: unset !important;
}
.banner .form-hana .right .form select:focus{
  box-shadow: unset !important;
}
.banner .form-hana .right .form form .form-row{
    border-bottom: 1px solid white;
    margin-bottom: 25px;
}
.banner .form-hana .right .form form .form-group{
    margin-bottom: 0.5rem !important;
}
.banner .form-hana .right .form form .form-group .form-control{
    padding: 0 !important;
}
.banner .form-hana .button_form .search_hana {
    width: 100%;
    background: #FFFFFF !important;
    border-color: #fff;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #E5C300;
    padding: 14px;
}

/* ============================================ Responsive ====================================== */
/* responsive */

@media (max-width: 1800px) {

}

@media (max-width: 1440px) {
    .banner .box-banner .title {
        padding: 30px 0 10px 0;
    }
    .banner .box-banner {
        padding-bottom: 35px;
    }
}
@media (max-width: 1350px) {
    .banner .box-banner {
        width: 85%;
    }
}
@media (max-width: 1200px) {
    .w-87{
        width: 90%;
    }
    .header .sub-header .contact-header .email{
        display: none;
    }
    .header .sub-header .contact-header .facebook {
        width: 40%;
    }
    .header .sub-header .contact-header .phone {
        width: 40%;
    }
    .header .sub-header .sign-in .introduct {
        display: none;
    }
    .header .sub-header .sign-in .register {
        width: 40%;
    }
    .header .sub-header .sign-in .login {
        width: 30%;
    }
    .header .sub-header .contact-header {
        margin-left: 100px;
    }
    .banner .box-banner {
        width: 85%;
    }
    .banner .form-hana .box-form .ct_form_hana {
        width: 100%;
    }
}
 /*MAIN*/


@media (max-width: 992px) {
    .banner .form-hana .left{
        width: 100%;
    }
    .banner .form-hana .right{
        width: 100%;
    }
    .banner .form-hana .left .car{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.4);
    }
    .banner .form-hana .box-form .ct_form_hana .boxcar{
        margin:20px 0;
    }
    .banner .form-hana .box-form .ct_form_hana .car h5{
        font-size: 20px;
        margin-top: 0;
        margin-left: 20px;
    }
    .banner .form-hana .left .active{
        border-bottom: 3px solid #fff;
        border-right: 0;
        background: rgba(0, 0, 0, 0.8);
    }
    .banner .form-hana{
        background:unset;
    }
    .banner .form-hana .box-form .ct_form_hana .button_form{
       padding-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .banner .box-banner{
        width: 100%;
    }
    .banner .form-hana .box-form {
        padding: 5px 31px;
    }
    .banner .box-banner .title h1{
        font-size: 42px;
    }
    .banner .form-hana .box-form .ct_form_hana .boxcar {
        width: 75px;
        height: 75px;
    }
    .banner .form-hana .box-form .ct_form_hana .boxcar {
        margin: 15px 0;
    }
}

@media (max-width: 621px) {

}

@media (max-width: 576px) {

}

@media (max-width: 500px) {

}
@media (max-width: 450px) {

}
@media (max-width: 400px) {

}