@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto/Roboto-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}
/* ============================================ Responsive ====================================== */
/* responsive */

@media (max-width: 1800px) {

}

@media (max-width: 1400px) {

}
@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 621px) {
    
}

@media (max-width: 576px) {

}

@media (max-width: 500px) {

}
@media (max-width: 450px) {

}
@media (max-width: 400px) {

}